---
import AppLayout from '@layouts/AppLayout.astro';
import Layout from '@layouts/Layout.astro';
import { ROUTE_CLIENT } from '@lib/routes';
import { getUser } from '@lib/utils';
import { ButtonSignout } from '@ui/ButtonSignout';
import { SwitchTheme } from '@ui/SwitchTheme';

/* Get session cookie */
const sessionCookie = Astro.cookies.get('session')?.value;
if (!sessionCookie) {
  return Astro.redirect(ROUTE_CLIENT.login);
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect(ROUTE_CLIENT.login);
}
---

<Layout title="Account">
  <AppLayout>
    <header>
      <h1 class="text-xl sm:text-3xl w-full font-semibold mb-6">My Account</h1>
    </header>
    <section class="w-full grid grid-cols-1 gap-6 pb-4">
      <SwitchTheme client:idle />
    </section>
    <section class="w-full pt-12 pb-4">
      <ButtonSignout isAccountPage client:idle />
    </section>
  </AppLayout>
</Layout>
