---
import { ContactList } from '@/components/contact';
import { AppLayout, BaseLayout } from '@/layouts';
import { firestore } from '@/lib/firebase/server';
import { ROUTE_CLIENT } from '@/lib/routes';
import type { ContactTypeWithId } from '@/lib/types';
import { Button, InputText } from '@/ui/form';
import { IconSearch } from '@/ui/icons';
import { getUser } from '@/utils';

/* Get session cookie */
const sessionCookie = Astro.cookies.get('session')?.value;
if (!sessionCookie) {
  return Astro.redirect('/login');
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect('/login');
}

/* get contacts from firestore */
const queryContacts = await firestore
  .collection('contacts')
  .where('authorId', '==', user.uid)
  .limit(100)
  .get();

const contactsDoc = queryContacts.docs.map((doc) => {
  return { documentId: doc.id, ...doc.data() };
}) as ContactTypeWithId[];
---

<BaseLayout title="Contacts">
  <AppLayout>
    <section class="w-full grid grid-cols-1 gap-6 pb-4">
      <h1 class="text-xl sm:text-3xl w-full font-semibold mb-6">Contact Book</h1>
      <aside class="flex items-center justify-between gap-1">
        <Button color="primary" href={ROUTE_CLIENT.addContact}>Add Contact</Button>
        <div class="relative">
          <InputText id="search" placeholder="Search contacts" type="search" label="" size="sm" />
          <button
            class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2 absolute right-0 top-0 mt-2"
          >
            <IconSearch />
          </button>
        </div>
      </aside>
      <ContactList contacts={contactsDoc} />
    </section>
  </AppLayout>
</BaseLayout>
