---
import { ContactList } from '@/components/contact';
import { AppLayout, BaseLayout } from '@/layouts';
import { firestore } from '@/lib/firebase/server';
import { ROUTE_CLIENT } from '@/lib/routes';
import type { ContactTypeWithId } from '@/lib/types';
import { InputText } from '@/ui/form';
import { IconSearch } from '@/ui/icons';
import { getUser } from '@/utils';

/* Get session cookie */
const sessionCookie = Astro.cookies.get('session')?.value;
if (!sessionCookie) {
  return Astro.redirect('/login');
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect('/login');
}

/* get contacts from firestore */
const queryContacts = await firestore
  .collection('contacts')
  .where('authorId', '==', user.uid)
  .limit(100)
  .get();

const contactsDoc = queryContacts.docs.map((doc) => {
  return { documentId: doc.id, ...doc.data() };
}) as ContactTypeWithId[];
---

<BaseLayout title="Contacts">
  <AppLayout>
    <section class="w-full grid grid-cols-1 gap-6 pb-4">
      <h1 class="text-xl sm:text-3xl w-full font-semibold mb-6">Contact Book</h1>
      <aside class="flex items-center justify-between gap-1">
        <a
          class="z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 px-unit-4 min-w-unit-20 h-unit-10 text-small gap-unit-2 rounded-medium [&>svg]:max-w-[theme(spacing.unit-8)] data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none bg-primary text-primary-foreground data-[hover=true]:opacity-hover"
          color="primary"
          href={ROUTE_CLIENT.addContact}>Add Contact</a
        >
        <div class="relative">
          <InputText id="search" placeholder="Search contacts" type="search" label="" size="sm" />
          <button
            class="inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2 absolute right-0 top-0 mt-2"
          >
            <IconSearch />
          </button>
        </div>
      </aside>
      <ContactList contacts={contactsDoc} />
    </section>
  </AppLayout>
</BaseLayout>
