---
import RegisterForm from '@components/RegisterForm';
import Layout from '@layouts/Layout.astro';
import LogLayout from '@layouts/LogLayout.astro';
import { ROUTE_CLIENT } from '@lib/routes';
---

<Layout title="Register to GoGoGolf">
  <LogLayout heading="Create a new account">
    <p class="text-zinc-800 text-sm mb-8 w-full">
      Already have an account? <a href={ROUTE_CLIENT.login} class="text-blue-400 font-medium">
        Sign in</a
      >
    </p>
    <RegisterForm client:load />
  </LogLayout>
</Layout>
