---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<main class="w-full h-full flex flex-col items-center justify-center">
  <section class="w-full max-w-md">
    <h1 class="font-semibold text-2xl text-zinc-900 w-full mb-1">{heading}</h1>
    <slot />
  </section>
</main>
