---
import { Card } from '@nextui-org/react';
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<main class="w-full h-full flex flex-col items-center">
  <section class="w-full max-w-md p-6">
    <h1 class="font-semibold text-zinc-900 w-full mb-12 text-4xl">GoGoGolf</h1>
    <Card className="p-6">
      <h2 class="font-semibold text-2xl text-zinc-900 w-full mb-2">{heading}</h2>
      <slot />
    </Card>
  </section>
</main>
